@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "Doto";
    src: url("./assets/fonts/Doto.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat.ttf") format("truetype");
  }

  @font-face {
    font-family: "Open-Sans";
    src: url("./assets/fonts/OpenSans.ttf") format("truetype");
  }
}


